<!DOCTYPE html>
<html lang="en-AE">
<head>
    <meta charSet="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Marketing Hunter</title>
    <meta name="author" content="Marketing Hunter" />
    <link rel="shortcut icon" href="/favicon_1.ico" type="image/x-icon">
    <link rel="icon" href="/favicon_1.ico" type="image/x-icon">

    <meta property="og:url" content="https://marketinghunterlb.com/" />
    <meta property="og:site_name" content="Marketing Hunter" />
    <meta property="og:title" content="Marketing Hunter" />
    <meta property="og:description" content="Build your brand&#39;s success" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#1f2d48" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/fontEmbed.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    <link rel="stylesheet" href="~/Content/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/owl.theme.css" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
    var url = '@UtilitiesEngine.Url.GetBaseUrl()';
    </script>


</head>
<body>
    @{ Html.RenderPartial("_Header");}

    @RenderBody()

    @{ Html.RenderPartial("_Footer");}
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel();
        });

        $(document).ready(function () {
            $('.owl-carousel-services').owlCarousel();
        });

        $(".owl-carousel").owlCarousel({

            //Basic Speeds
            slideSpeed: 200,
            paginationSpeed: 800,

            //Autoplay
            autoPlay: false,
            goToFirst: true,
            goToFirstSpeed: 1000,

            // Navigation
            navigation: false,
            navigationText: ["prev", "next"],
            pagination: false,
            paginationNumbers: true,

            // Responsive
            responsive: true,
            items: 5,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [980, 3],
            itemsTablet: [768, 2],
            itemsMobile: [479, 1]

        })

        $(".owl-carousel-services").owlCarousel({

            //Basic Speeds
            slideSpeed: 200,
            paginationSpeed: 800,

            //Autoplay
            autoPlay: false,
            goToFirst: true,
            goToFirstSpeed: 1000,

            // Navigation
            navigation: false,
            navigationText: ["prev", "next"],
            pagination: false,
            paginationNumbers: true,

            // Responsive
            responsive: true,
            items: 3,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 1],
            itemsMobile: [479, 1]

        })
    </script>


</body>
</html>