/*#region generic*/
html {
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
}



.inner {
    width: 90%;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}



a, a:hover {
    color: inherit;
    text-decoration: none;
}



.left {
    float: left;
}



.right {
    float: right;
}



.padding0 {
    padding: 0 !important;
}



.margin0 {
    margin: 0 !important;
}



.red {
    color: #00c9d3 !important;
}

.alertRed {
    color: #FF3131 !important;
}



.blue {
    color: #013f84 !important;
}



.gitane {
    color: #003195 !important;
}



.green {
    color: #00BD18 !important;
}



.clear {
    clear: both;
}


.bg-white {
    background-color: #fff;
}



.mgt-10 {
    margin-top: 10px !important;
}



.mgt-20 {
    margin-top: 20px !important;
}



.mgt-30 {
    margin-top: 30px !important;
}



.mgb-10 {
    margin-bottom: 10px !important;
}



.mgb-20 {
    margin-bottom: 20px !important;
}



.mgb-30 {
    margin-bottom: 30px !important;
}



.center {
    text-align: center !important;
}



.txt-left {
    text-align: left !important;
}



@media screen and (max-width:700px) {
    .inner {
        width: 95%;
    }
}
/*#endregion*/

/*#region header*/
.header {
    width: 100%;
    height: 100px;
}

    .header .logo {
        float: left;
    }

        .header .logo img {
            width: 80px;
            margin-top: 10px;
        }

    .header .menu {
        float: right;
        font-size: 16px;
    }

        .header .menu a {
            float: left;
            display: block;
            color: rgb(27, 27, 27);
            cursor: pointer;
            padding: 40px 15px;
            font-style: italic;
            font-weight: 400;
            font-family: "Old Standard TT",serif;
        }

@media screen and (max-width:400px) {
    .header {
        height: 70px;
    }
        .header .logo img {
            width: 50px;
        }
        .header .menu {
            font-size: 14px;
        }
        .header .menu a {
            padding: 22px 10px;
        }
}
/*#endregion*/

/*#region banner*/
.banner {
    width: 100%;
    border-bottom:10px solid #fff;
}

    .banner img {
        min-height: auto;
        max-height: 500px;
        width: 100%;
    }

/*#endregion*/

/*#region about*/
.about-container {
    /* display:table; */
    width: 100%;
    overflow: hidden;
    background-color: rgb(31, 45, 72);
}

    .about-container .about-content {
        width: 100%;
        display: table;
    }


        .about-container .about-content .title {
            color: white;
            font-size: 22px;
            text-align: center;
            padding: 80px;
            padding-bottom: 20px;
            font-family: 'Old Standard TT', serif;
            font-style: italic;
            letter-spacing: 2px;
        }


        .about-container .about-content .sub-title {
            color: #fff;
            font-size: 22px;
            font-family: 'Gudea', Georgia, serif;
            margin-bottom: 24px;
            text-align: left;
        }

        .about-container .about-content .description {
            color: #fff;
            font-size: 16px;
            font-family: 'Gudea', Georgia, serif;
            margin-bottom: 24px;
            text-align: left;
        }

    .about-container .bg-img {
        width: 100%;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
    }
/*#endregion*/

/*#region clients*/
.clients-container {
    width: 100%;
    background-color: rgb(31, 45, 72);
    padding: 80px;
}

    .clients-container .title {
        color: white;
        font-size: 22px;
        text-align: center;
        padding-bottom: 20px;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
        letter-spacing: 2px;
    }


/*#endregion*/

/*#region footer*/
.footer {
    width: 100%;
    background-color: rgb(22, 22, 22);
    padding: 50px 0;
}

    .footer .copyright {
        color: white;
        font-size: 16px;
        text-align: center;
    }

@media screen and (max-width:400px) {
    .footer .copyright {
        font-size: 10px;
    }
}
/*#endregion*/

.item {
    text-align: center
}

    .item img {
        text-align: center;
        max-width: 100%
    }

.clear {
    clear: both
}


/*#region service*/
.service-container {
    width: 100%;
    background-color: rgb(31, 45, 72);
}

    .service-container .title {
        color: white;
        font-size: 22px;
        text-align: center;
        padding: 80px;
        padding-bottom: 20px;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
        letter-spacing: 2px;
    }

    .service-container .sub-services {
        text-align: center;
        padding: 50px;
    }

    .service-container .serviceImg {
        max-width: 100%;
    }

    .service-container .service-title {
        margin-top: 50px;
        font-size: 22px;
        width: inherit;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-family: 'Gudea', Georgia, serif;
    }

    .service-container .description {
        margin-bottom: 0;
        font-size: 16px;
        max-width: 100%;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        letter-spacing: 2px;
        font-family: 'Gudea', Georgia, serif;
        padding-top: 30px;
    }
/*#endregion*/


/*#region contactus*/
.contactus-container {
    display: table;
    background-color: rgb(31, 45, 72);
    width: 100%;
}

    .contactus-container .title {
        color: white;
        font-size: 22px;
        text-align: center;
        padding: 80px;
        padding-bottom: 20px;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
        letter-spacing: 2px;
    }

    .contactus-container .contactus-content {
        padding-top: 20px;
        text-align: center;
    }

    .contactus-container .info {
        padding-bottom: 100px;
    }

.contactus-title {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: 'Gudea', Georgia, serif;
    letter-spacing: 2px;
}

.contact-email {
    color: #fff;
    font-size: 16px;
    font-family: 'Gudea', Georgia, serif;
}



.contactus-container .parag {
    color: #fff;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Gudea', Georgia, serif;
}

.social-media {
    background-color: rgb(31, 45, 72);
    height: 250px;
    text-align: center;
    padding-top: 100px;
}

    .social-media .icons {
        width: 40px;
        height: 40px;
        margin: 0 25px 5px 0;
    }

.contact-form{
    width:100%;
    padding:20px 0;
}

    .contact-form .txt-input{
        width:80%;
        height:40px;
        display:block;
        outline:0;
        border:1px solid #013f84;
        margin:10px auto;
    }
    .contact-form .txt-area {
        width: 80%;
        outline: 0;
        display: block;
        border: 1px solid #013f84;
        height: 100px;
        margin: 10px auto;
    }

    .contact-form .btnSubmit {
        width: 80%;
        height: 40px;
        outline: 0;
        border: 1px solid #013f84;
        margin: 10px auto;
        background-color: #013f84;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        padding-top:10px;
    }

    .contact-form .lblmsg {
        width: 80%;
        outline: 0;
        margin: 10px auto;
        color:#fff;
        display:block;
    }
/*#endregion*/
