
@{
    ViewBag.Title = "Index";
}

<div class="contactus-container">
    <div class="title">Contact Us</div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="contactus-content">
            <div class="col-md-12 info">
                <h4 class="contactus-title">If you have any questions, feel free to contact us by email</h4>
                <p class="parag"><a href="mailto:sibrahim@marketinghunterlb.com">sibrahim@marketinghunterlb.com</a></p>
                <h4 class="contactus-title">Better yet, see us in person!</h4>
                <p class="parag">We love our customers, so feel free to visit during normal business hours</p>
                <h4 class="contactus-title">Marketing Hunter</h4>
                <p class="parag">Zouk Mosbeh, Lebanon</p>
                <h4 class="contactus-title">Hours</h4>
                <p class="parag">Open Monday to Friday 09:00 am - 05:00 pm</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="contact-form">
            <input class="txt-input" type="text" placeholder="Fullname" id="Fullname" />
            <input class="txt-input" type="text" placeholder="Email" id="Email" />
            <input class="txt-input" type="tel" placeholder="Mobile" id="Mobile" />
            <textarea class="txt-area" placeholder="Message..." id="Message"></textarea>
            <div id="btnSubmit" class="btnSubmit">Submit</div>
            <div class="lblmsg" id="lblmsg"></div>
        </div>
    </div>
</div>

<div id="map" style="width:100%;height:400px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.983936298893!2d35.603853974622886!3d33.96725237318911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f3f7d85262ab1%3A0x318026f341b5c76b!2sIntech%20Offshore%20SAL!5e0!3m2!1sen!2slb!4v1686303568009!5m2!1sen!2slb" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div class="social-media">
    <a href="https://www.facebook.com/profile.php?id=100083840599842" target="_blank"><img class="icons" src="~/Content/img/btn/facebook.png" /></a>
    <a href="https://www.instagram.com/marketing_hunter1/" target="_blank"><img class="icons" src="~/Content/img/btn/instagram.png" /></a>
    <a href="https://www.linkedin.com/company/marketinghunter1/" target="_blank"><img class="icons" src="~/Content/img/btn/linkedin.png" /></a>
</div>

<script src="~/Scripts/Utilities.js"></script>
<script src="~/Scripts/contact.js"></script>
