
@{
    ViewBag.Title = "Index";
}


<div class="service-container" >
    <div class="title" >Our Services</div>
    <div class="services-content">
        <div class="owl-carousel-services owl-theme">
            <div class="sub-services">
                <img class="serviceImg" src="~/Content/img/bg/service1.jpg" />
                <h4 class="service-title">Online Marketing Consultation</h4> 
                <p class="description">Let us sit down with you and look over your marketing plan. 
                Do you have questions about your current plan? Do you have an upcoming project that needs a marketing push? 
                With a consultation, we can get you on the right track.</p>
            </div>
            <div class="sub-services">
                <img class="serviceImg" src="~/Content/img/bg/service2.jpg"/>
                <h4 class="service-title">Marketing Plans</h4>
                <p class="description">
                    Every business needs a sound marketing plan in order to survive. 
                    Starting from an understanding of your target market, we will develop a plan with easy to follow steps.
                </p>
            </div>
            <div class="sub-services">
                <img class="serviceImg" src="~/Content/img/bg/service3.jpg" />
                <h4 class="service-title">Online Marketing Consultation</h4>
                <p class="description">
                    There will come a time in your business or personal promotion when you need some additional help with marketing.
                    In addition to long-term marketing support, we can be available for extra hours during new releases and other 
                    important events.
                </p>
            </div>
        </div>
    </div>
</div>